{# templates/tp/variables.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <p>Nom : {{ nom }}</p>
    <p>Prénom Nom : {{ prenom }} {{ nom }}</p>
    <p>Âge : {{age}} x 42 = {{ age2 }}</p>
    <p>Classe : {{ classe }}</p>
    <p>Quotient Intellectuel : +{{Quotient_Intellectuel}} </p>
    <p>Beauté : {{beaute}} </p>
{% endblock %}