{% extends 'base.html.twig' %}

{% block body %}
<h2>Liste des produits</h2>
<ul>
    {% for product in products %}
        <li>
            {{product.id}} : {{ product.name }} - {{ product.price }}€ - Stock : {{ product.stock }}
            <a href="{{ path('product_order', {id: product.id}) }}">Commander</a>
            <a href="{{ path('product_delete', {id: product.id}) }}">Supprimer</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
